.container
  .content
    %p
      Milieu is an open source ruby based MongoDB backed location check in app. It was first demonstrated at OSCON 2012 as a sample application for a tutorial on MongoDB.
    %p
      It uses Sinatra, Haml and MongoDB.
