%p
  &copy; Built by 
  %a{:href => 'http://spf13.com'} Steve Francia
  | 
  %a{:href => 'http://MongoDB.com'} MongoDB
  %br
  Icon provided by 
  %a{:href => 'http://findicons.com/pack/2283/upojenie'} Gert Jan 
