.container
  .row
    .col-md-8
      %h1 Welcome to Milieu
      %img{:src => 'images/big_map.png'}
      %p Milieu is an open source ruby based MongoDB backed location check in app.
      %p It uses Sinatra, Haml, Bootstrap and MongoDB.

    .col-md-4
      .well
        -if logged_in?
          -if @suser.admin
            %h4 How are people using Milieu?
            %p Avg checkins per user: #{Analytics.avg_checkins_per_user} 
            %p Avg checkins per venue: #{Analytics.avg_checkins_per_venue} 
          -else
            You are logged in. Go checkin somewhere.
        -else
          %h3 Login
          %form{:role => "form", :action => "/login", :method => "post"}
            %br
            .form-group
              %label{ :for => "email"} Email:
              %input.form-control{ :name => "email", :type => "text", :size => "30"}
            .form-group
              %label{ :for => "password"} Password:
              %input.form-control{ :name => "password", :type => "password", :size => "30"}
            %input.btn-lg.btn-primary{ :name => "submit", :type => "submit", :value => "Submit"}

      -if !logged_in?
        .well
          %h3 Join Us
          %form{:role => "form", :action => "/register", :method => "post"}
            .form-group
              %label{ :for => "name"} Name:
              %input.form-control{ :name => "name", :type => "text", :size => "30"}
            .form-group
              %label{ :for => "email"} Email:
              %input.form-control{ :name => "email", :type => "text", :size => "30"}
            .form-group
              %label{ :for => "password"} Password:
              %input.form-control{ :name => "password", :type => "password", :size => "30"}
            %input.btn.btn-default{ :name => "submit", :type => "submit", :value => "Submit"}
