.container
  .content
    %table{class: "bordered-table zebra-striped", id: "userSortedTable"}
      %thead
        %tr
          %td{colspan: '8'}
            %h4 Users
            %tr
              %th{class: 'header'} _ID
              %th{class: 'header red'} 	Name
              %th{class: 'header blue'} 	Email

          ~@users.each do |user|
            %tr
              %td= user['_id']
              %td= user['name']
              %td= user['email']

:plain
  <script>
    $(function() {
      $("table#userSortedTable").tablesorter({ sortList: [[1,0]] });
    });
    </script>
