.content
  .container
    .row
      .col-lg-12
        %form.form-horizontal{ :action => "/register", :method => "post", :role => "form"}
          %h1= 'Register'
          .form-group
            %label.control-label.col-lg-2{ :for => "name"} Name:
            .col-lg-10
              %input.form-control{ :name => "name", :type => "text", :size => "30"}
          .form-group
            %label.control-label.col-lg-2{ :for => "email"} Email:
            .col-lg-10
              %input.form-control{ :name => "email", :type => "text", :size => "30"}
          .form-group
            %label.control-label.col-lg-2{ :for => "password"} Password:
            .col-lg-10
              %input.form-control{ :name => "password", :type => "password", :size => "30"}
          -if @suser and @suser.admin
            .form-group
              %label.control-label.col-lg-2{ :for => "admin"} Admin:
              .col-lg-10
                %input.form-input{ :name => "admin", :type => "checkbox"}
          %br
          %br
          %input.btn.btn-default{ :name => "submit", :type => "submit", :value => "Submit"}
