.container
  .content
    %h2= @user.email.to_s << ' profile'
    %p= 'name: ' <<  @user.name.to_s
    -if @suser.admin?
      %p (Admin)
    %image{src: "http://www.gravatar.com/avatar/" << @user.email_hash.to_s << '.png'}
