* {margin:0;padding:0;}

/* must declare 0 margins on everything, also for main layout components use padding, not
vertical margins (top and bottom) to add spacing, else those margins get added to total height
and your footer gets pushed down a bit more, creating vertical scroll bars in the browser */

html, body {height: 100%;}

#wrap {min-height: 100%;}

#main {
    overflow: visible;
    padding-bottom: 45px;
    padding-top: 60px;
}  /* must be same height as the footer */

footer {
    position: relative;
    margin-top: -41; /* negative value of footer height */
    height: 40px;
    clear:both;
    border-top: solid 1px #EEE;
}

/*Opera Fix*/
body:before {/* thanks to Maleika (Kohoutec)*/
    content:"";
    height:100%;
    float:left;
    width:0;
    margin-top:-32767px;/* thank you Erik J - negate effect of float*/
}

.sidebar-nav {
    padding: 9px 0;
}

.form-input {
    height: 28px;
}

a.brand {
    background-image: url('/images/milieu_sm.png');
    background-repeat: no-repeat;
}

.navbar .brand {
    padding-left: 45px;
}

.navbar-text img {
  margin-bottom: -10px;
}

footer p {
   padding-left: 20px;
}

